* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/img/drum.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  .keys {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .key {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid white;
      padding: 1rem;
      width: 4rem;
    }
  }
}
